<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="OpenWeatherMap_APIURL" value="http://api.openweathermap.org/data/2.5/"/>
    <add key="OpenWeatherMap_APPID" value="0efe44f80904a566bb919dd818f45f3b"/>
  </appSettings>
</configuration>